<div class="col-sm-8 blog-main">
  <h1><%= @topic.title %></h1>
  <% paginate @blogs if !logged_in?(:site_admin) %>
  <br />
  <%= render @blogs %>
  <% paginate @blogs if !logged_in?(:site_admin) %>
</div>
