<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Revenir en haut</a>
    </p>
    <p<%= @copyright %></p>
    <p>Envie de prendre contact <%= link_to "Visitez notre site", root_path %> ou <%= link_to "Prenez directement contact", contact_path %> avec nous</p>
  </div>
</footer>