<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Exemple de projets</h1>
    <p class="lead text-muted">Ceci sont les projets sur lequelle nous avons collaborer, participer ou réaliser nous
      vous invitons à les consulter, cela peut vous donner des idées de comment nous travaillons et du résultat que
      vous pouvez obtenir en travaillant avec nous</p>
    <p>
      <%= link_to 'Contactez-nous', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Le blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>