<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "Voir tous les projets", portfolios_path %> /
      <a href="#">Revenir en haut</a>
    </p>
    <p>
      <%= @copyright %>
    </p>
  </div>
</footer>