<h1>Contact</h1>

<p><%= number_to_phone "07-81-55-76-95" %></p>
<p><%= number_to_currency "350" %></p>
<p><%= number_to_percentage "99.4" %></p>
<p><%= number_with_delimiter "684536453434354" %></p>
